.DisplaySelectedWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px; 
  left: 0px;
  background-color: white;
  margin: 10vh 10vw 10vh 10vw;
  border: black 5px solid;
  height: 60vh;
  width: 80%;
  z-index: 1;
}

.DisplaySelectedWindowImage {
  position: relative;
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
}